<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        
    </head>
    <body>
        <h2>Estudo VueJS</h2>

        <div id="app">
            <span v-if="seen"> {{message}}, aqui estou!!</span>
            <br>
            <span v-if="seen_broken"> {{message_broken}}, não agora!!</span>
             <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
              </span>
            
            <br><br>
                 
              <span v-bind:title="messageTitle">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
              </span>
        </div>

        <div id="app-4">
            <p>{{message}}</p>
            <ul>
                <li v-for="todo in todos">{{todo.text}}</li>
            </ul>
        </div>

        <div id="app-5">
            <p>{{message}}</p>
            <button v-on:click="reverseMessage">Inverter Mensagem!</button>
        </div>
        
        <div id="app-6">
            <p>{{message}}</p>
            <input v-model="inputMessage">
        </div>

        <div id="app-7">
                <p>Componentes Estático</p>
                <ol>
                    <todo-item></todo-item>
                </ol>
        </div>

        <div id="app-8">
            <p>Componente Dinâmico - Personalizado</p>
            <ul>
                <dtodo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id">
                </dtodo-item>    
            </ul>
        </div>
  
        <script src="js/index.js"></script>
    </body>
</html>
